<%= form_for([@place, @reviews]) do |f| %>
  <div class="rev-form-wrap">
    <h2 class="add-rev">Add a review:</h2>
    <p class="rev-form-base">
      <%= f.label :reviewer, class: "rev-form-label" %><br>
      <%= f.text_field :reviewer, class: "rev-form-input" %>
    </p>
    <p class="rev-form-base">
      <%= f.label :body, class: "rev-form-label" %><br>
      <%= f.text_area :body, class: "rev-form-input" %>
    </p>
    <p class="rev-form-base">
      <%= f.label :rating, class: "rev-form-label" %><br>
      <%= f.text_area :rating, class: "rev-form-input" %>
    </p>
    <p class="rev-form-base">
      <%= f.submit %>
    </p>
  </div>
<% end %>
