
  <%= form_for @place do |f| %>
      <% if @place.errors.any? %>
        <div>
          <h2>
            Please fix the following errors:
          </h2>
          <ul>
            <% @place.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  <div class="form-wrap">
    <p class="form-base">
      <%= f.label :Type, class: "form-label"%><br>
      <%= f.text_field :title, class: "form-input", placeholder:'House or Room' %>
    </p>
    <p class="form-base">
      <%= f.label :description, class: "form-label" %><br>
      <%= f.text_field :description, class: "form-input" %>
    </p>
    <p class="form-base">
      <%= f.label :address, class: "form-label" %><br>
      <%= f.text_field :address, class: "form-input" %>
    </p>
    <p class="form-base">
      <%= f.label :conditional, class: "form-label" %><br>
      <%= f.text_field :conditional, class: "form-input" %>
    </p>
    <p class="form-base">
      <%= f.label :price, class: "form-label" %><br>
      <%= f.text_field :price, class: "form-input" %>
    </p>

    <p class="form-base">
      <%= f.submit %>
    </p>
  </div>
<% end %>
