<div class="wrap">
        <%= render 'nav' %>
  <table id="table-place">
    <tr>
      <th id="rent-type">Rental Type</th>
      <th id="rent-desc">Rental Description</th>
      <th id="link-head">Options</th>
    </tr>
    <% @places.each do |place| %>
      <tr>
        <td id="place-type"><%= place.title %></td>
        <td id="place-desc"><%= place.description %></td>
        <td class="links-td"><%= link_to 'Show', place_path(place), class: "links" %></td>
        <td class="links-td"><%= link_to 'Edit', edit_place_path(place), class: "links" %></td>
        <td class="links-td"><%= link_to 'Delete', place_path(place), class: "links",
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
